@import url("/css/theme.css");

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--dark-accent-color);
    box-shadow: 0 1px 3px black;
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 2000px;
}

.navbar-logo {
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.navbar-container a {
    text-decoration: none;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    padding: 10px 10px;
    border-radius: 20px;
    border: 2px solid transparent;
    white-space: nowrap;
    transition: all 0.6s ease;
}

.navbar-container .navbar-menu li a:hover {
    background-color: var(--contrast-color);
}

.navbar-container .navbar-menu li a img{
    width: 18px;
    height: 18px;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: black;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 880px) {
    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 100px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 1px 3px black;
        z-index: 888;
        background-color: var(--dark-accent-color);
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

