@import url("/css/theme.css");
@import url("/css/header.css");
@import url("/css/footer.css");

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.hero-seccion-contenedor {
    display: flex;
    width: 100%;
    height: 980px;
    align-items: center;
    justify-content: center;
    background-color: #eaeeef;
}

.hero-texto {
    padding: 50px;
    width: 40%;
    margin: 10px;
}

.hero-texto h1 {
    font-size: 50px;
    font-style: italic;
}

.hero-texto p{
    font-size: 20px;
}

.hero-img {
    width: 58%;
    height: 100%;
    overflow: hidden;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 880px) {
    .hero-seccion-contenedor {
        flex-direction: column;
        height: auto;
        min-height: 900px;
    }

    .hero-texto {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .hero-img {
        width: 100%;
        height: 500px;
    }
}

.marca-contenedor {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 30px 0;
    gap: 50px;
    justify-content: center;
}

.marca-contenedor a .marca-tarjeta {
    display: flex;
    width: 190px;
    height: 190px;
    align-items: center;
    justify-content: center;
    background-color: #eaeeef;
    box-shadow: 2px 2px 3px #b1b2b2;
    cursor: pointer;
}

.marca-contenedor a .marca-tarjeta:hover {
    transform: scale(1.1);
}

.marca-contenedor a .marca-tarjeta img {
    width: 140px;
    height: 90px;
    object-fit: contain;
}

.carrusel-contenedor {
    display: flex;
    width: 90%;
    overflow-x: auto;
    margin: 30px;
}

.grupo {
    display: flex;
    gap: 10px;
}

.tarjeta {
    flex: 0 0 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #eaeeef;
}