.carrusel-contenedor {
    display: flex;
    width: 90%;
    overflow-x: auto;
    margin: 30px;
}

.grupo {
    display: flex;
    gap: 10px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 0 300px;
    height: 520px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.tarjeta img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    display: block;
}

.tarjeta p, .tarjeta h3, .tarjeta h4 {
    margin: 3px 15px;
    font-weight: bold;
}

.tarjeta p {
    color: var(--contrast-color);
}

.tarjeta h4 {
    color: var(--darker-contrast-color);
}

.tarjeta button {
    height: 40px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: auto auto 20px auto;
    background-color: var(--dark-accent-color);
}

@media (max-width: 880px) {
    .tarjeta {
        height: 420px;
        flex: 0 0 200px;
    }

    .tarjeta img {
        height: 200px;
        width: 200px;
    }

    .tarjeta .tarjeta p, .tarjeta h3, .tarjeta h4 {
        margin: 3px 10px;
    }

    .tarjeta p {
        font-size: 13px;
    }

    .tarjeta h3 {
        font-size: 16px;
    }

    .tarjeta h4 {
        font-size: 15px;
    }

    .tarjeta button {
        font-size: 15px;
        width: 150px;
    }
}